@(message: String)

@main("SolrPartition Admin Console") {

    <div class="wrapper">

        <div class="header">

            <div class="header-logo">
                GB Solr Console
            </div>
            <div class="header-right">
                <a href="#" title="Settings"><img src="/assets/img/setting1.png" class="header-img-icon"></a>
            </div>

        </div>

        <div class="clearfloat" style="clear : both"></div>

        <div class="content">

                <!--left start -->
            <div class="diva">
                <div class='diva-heading'>
                    Collection Stats
                </div>
                <div class='diva-heading'>
                    MPS Stats
                </div>

                <div class='diva-heading'>
                    Cluster Health
                </div>

                <div class='diva-heading'>
                    Transaction Logs
                </div>




            </div> <!--left ends -->


            <!--center start -->
            <div class="divb">

                <div id="collection-stats-mps-filter">
                    Selected MPS &nbsp;
                    <select>
                        <option>All</option>
                        <option>aruba-aruba-aruba</option>
                        <option>aruba-aruba-aruba</option>
                    </select>
                </div>

                <div id="collection-stats-table">
                    <table cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>State</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>ssasa</th>
                                <th>ssasa</th>
                            </tr>
                            <tr>
                                <th>ssasa</th>
                                <th>ssasa</th>
                            </tr>
                            <tr>
                                <th>ssasa</th>
                                <th>ssasa</th>
                            </tr>
                        </tbody>
                    </table>
                </div>





            </div><!--center divb ends -->

        </div>

    </div>

@*
    <script>
    $ ( document ).ready ( function ( ) {
    $ ( '.tabs' ).tabslet ( ) ;
    } )
    </script>
*@


}
