@(message: String)

@main("SolrPartition Admin Console") {
    <header class="navbar navbar-default navbar-static-top" role="banner">
        <div class="container overwrite-margin">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">GB-Solr-Console</a>
            </div>

                <nav class="collapse navbar-collapse" role="navigation">
                  <ul class="nav navbar-nav">
                    <li class="active">
                      <a href="#">Collection Stats</a>
                    </li>
                    <li>
                      <a href="#">Solr HealthCheck</a>
                    </li>
                    <li>
                      <a href="#">Zookeeper HealthCheck</a>
                    </li>
                    <li>
                      <a href="#">Transaction Logs</a>
                    </li>
                    <li>
                      <a href="#">Unified Logs</a>
                    </li>
                  </ul>
                </nav>
        </div>
    </header>

    <!-- Begin Body -->
    <div class="container overwrite-margin">
        <div class="row">
            @*<div class="col-md-3" id="leftCol">

                <div class="well">
                    <ul class="nav nav-stacked" id="sidebar">
                        <li><a href="#sec1">Collection Stats</a></li>
                        <li><a href="#sec2">Core Stats</a></li>
                        <li><a href="#sec3">Solr HealthCheck</a></li>
                        <li><a href="#sec4">Zookeeper HealthCheck</a></li>
                        <li><a href="#sec4">TransactionLog Stats</a></li>
                    </ul>
                </div>

            </div>*@

            <div class="col-md-12">


                    <!-- <hr class="col-md-12"> -->

                <h4 id="sec1">
                    Selected MPS &nbsp;
                    <select>
                        <option>All</option>
                        <option>aruba-aruba-aruba_pod</option>
                        <option>All</option>
                        <option>All</option>
                        <option>All</option>
                    </select>
                </h4>
                <hr>


                <div class="row">
                    <div class="col-md-6">
                        <div id="chart1-div"></div>
                    </div>
                    <div class="col-md-6">
                        <div id="chart2-div"></div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3>20 Collections</h3></div>
                                <!--  <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                      </div>  -->
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3>18 Loaded</h3></div>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3>2 Unloaded</h3></div>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3>0 Unhealthy</h3></div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3>8 Nodes</h3></div>
                                <!--  <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                      </div>  -->
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3>100 Cores</h3></div>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3>20 M Doc</h3></div>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3>1.5 GB index </h3></div>
                        </div>
                    </div>

                </div>

                <hr>

                <h3 id="sec2">Collection Details</h3>



                <div class="row">
                    <div class="col-md-12">
                        <table id="table"
                        data-sort-name="doc-count"
                        data-sort-order="desc"
                        data-search="true"
                        data-show-columns="true"
                        data-height="400">
                            <thead>
                                <tr>
                                    <th data-formatter="runningFormatter">#</th>
                                    <th data-field="collection" data-sortable="true">Collection</th>
                                    <th data-field="state" data-sortable="true">State</th>
                                    <th data-field="doc-count" data-sortable="true">DocCount</th>
                                    <th data-field="size" data-sortable="true">Size</th>
                                    <th data-field="details" >Details</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

                <hr />

                <h3 id="sec2">Aliases</h3>

                <div class="row">
                    <div class="col-md-12">
                        <table id="table-alias"
                        data-search="true"
                        data-show-columns="true"
                        data-height="250">
                            <thead>
                                <tr>
                                    <th data-formatter="runningFormatter">#</th>
                                    <th data-field="alias" data-sortable="true">Alias Name</th>
                                    <th data-field="count" data-sortable="true">Collection Count</th>
                                    <th data-field="collections" data-sortable="true">Collections</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

                <hr />

                <h3>Utilities</h3>

                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-info">Commit All Collections</button>
                        <button type="button" class="btn btn-info">Commit All Collections of this MPS</button>
                        <button type="button" class="btn btn-danger">Delete All Collections</button>
                        <button type="button" class="btn btn-danger">Delete All Collections of this MPS</button>

                    </div>
                </div>



            </div>
        </div>
    </div>

    <div class="modal" id="collection-details-modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title" id="myModalLabel">Collection Details</h4>
                </div>
                <div class="modal-body">
                    <h3>Cores</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

    <br/>
    <br/>


}
